@{
    ViewBag.Title = "Send us feedback - The Platform Thing";
}
<main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">

                <h1 class="heading-large ">
                    Contact Us
                </h1>

                <h2 class="heading-medium">Online</h2>
                <p>Contact us via our <a href="@Url.Action("Feedback")">feedback form</a>.</p>

                <h2 class="heading-medium">Phone</h2>
                <p>Call the national helpline for advice on the Platform Thing.</p>
                <p>Telephone: <b style="font-size: x-large;">0987 654 3210</b></p>
                <p>Opening times: Monday to Friday, 9am to 5pm</p>
                <h2 class="heading-medium">Post</h2>
                <p>
                    Write to:
                </p>
                <p>
                    The Platform Thing<br/>
                    Department For Eduction<br />
                    Sanctuary Buildings<br />
                    Great Smith Street<br />
                    London<br />
                    SW1P 3BT
                </p>
                <p></p>
                <p>
                    <a class="button" href="javascript:window.open('','_self').close();">Close window</a>
                </p>
            </div>
        </div>
</main>